<div ng-controller="EditTrabalhoCtrl">
	<form class="form-horizontal">
		<h1 class="page-header">Adicionar Trabalho</h1>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="titulo">Título</label>
				<div class="controls">
					<input id="titulo" type="text" class="input-block-level"
						required="true" ng-model="trabalho.titulo"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="assunto">Assunto</label>
				<div class="controls">
					<input id="assunto" type="text" class="input-block-level"
						required="true" ng-model="trabalho.assunto"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="orientador">Categoria</label>
				<div class="controls">
					<select ng-model="trabalho.categoria.id" ng-options="o.id as o.nome for o in categorias" class="input-block-level">
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="orientador">Orientador</label>
				<div class="controls">
				<!-- ng-options="o.id as o.nome for o in orientadores" -->
					<input id="orientador" ui-select2="orientadoresOptions" ng-model="trabalho.orientador" class="input-block-level" />
					<a title="Adicionar orientador" ng-click="adicionarOrientador()" class="btn"><i class="icon-plus"></i> Adicionar orientador</a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="resumo">Resumo</label>
				<div class="controls">
					<textarea id="resumo" class="input-block-level"
						required="true" ng-model="trabalho.resumo"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="resumo">Autores</label>
				<div class="controls">
					<input id="autores" ui-select2="autoresOptions" ng-model="trabalho.autores" data-placeholder="Selecionar autores..." class="input-block-level"/>
					<a title="Adicionar autor" ng-click="adicionarAutor()" class="btn"><i class="icon-plus"></i> Adicionar autor</a>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<button ng-click="saveTrabalho()" class="btn btn-primary">Salvar</button>
		</div>
	</form>
</div>