<div ng-controller="NewTrabalhoCtrl">
	<form class="form-horizontal">
		<h1 class="page-header">Adicionar Trabalho</h1>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="titulo">Título</label>
				<div class="controls">
					<input id="titulo" type="text" class="input-block-level"
						required="true" ng-model="trabalho.titulo"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="assunto">Assunto</label>
				<div class="controls">
					<input id="assunto" type="text" class="input-block-level"
						required="true" ng-model="trabalho.assunto"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="resumo">Resumo</label>
				<div class="controls">
					<input id="resumo" type="text" class="input-block-level"
						required="true" ng-model="trabalho.resumo"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="resumo">Autores</label>
				<div class="controls">
					<div ng-repeat="autor in trabalho.autores">
						<input ng-model="autor.nome" type="text"/>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<button class="btn btn-primary" ng-click="saveTrabalho()">Adicionar Trabalho</button>
		</div>
	</form>
</div>