<div ng-controller="EditUsuarioCtrl">
	<form class="form-horizontal">
		<h1 class="page-header"><msg key="Edit User"/> ({{usuario.username}})</h1>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="nome"><msg key="Username"/></label>
				<div class="controls">
					<input id="nome" type="text" class="input-block-level"
						required="true" ng-model="usuario.username"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="nome"><msg key="Password"/></label>
				<div class="controls">
					<input id="nome" type="password" class="input-block-level"
						required="true" ng-model="usuario.password"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="nome"><msg key="UserOptions"/></label>
				<div class="controls">
					<label class="checkbox" class="input-block-level" >
						<input type="checkbox" ng-model="usuario.enabled"/> <msg key="Enabled"></msg>
					</label>
					<label class="checkbox" class="input-block-level" >
						<input type="checkbox" ng-model="usuario.accountExpired"/> <msg key="AccountExpired"></msg>
					</label>
					<label class="checkbox" class="input-block-level" >
						<input type="checkbox" ng-model="usuario.accountLocked"/> <msg key="AccountLocked"></msg>
					</label>
					<label class="checkbox" class="input-block-level" >
						<input type="checkbox" ng-model="usuario.passwordExpired"/> <msg key="PasswordExpired"></msg>
					</label>
				</div>
			</div>

		</fieldset>
		<div class="form-actions">
			<button ng-click="updateUsuario()" class="btn btn-primary">Salvar</button>
		</div>
	</form>
</div>