<div ng-controller="ListUsuarioCtrl">
    <h1 class="page-header"><msg key="Users"/></h1>
    <table class="table">
        <thead>
            <tr>
                <th><msg key="Name"/></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in usuarios">
                <td>{{u.username}}</td>
                <td class="col-md-1">
                    <a ng-click="editUsuario($index)"><i class="icon-pencil"></i></a>
                    &nbsp;
                    <a ng-click="delUsuario($index)"><i class="icon-remove-circle"></i></a></td>
            </tr>
        </tbody>
    </table>
    <p>
        <button type="button" class="btn btn-success" ng-click="addUsuario()">
            <b class="icon-plus-sign"></b><msg key="Add User"/>
        </button>
    </p>
</div>